/* Import the font if not using a <link> tag */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/* Set the default font for the entire project */
body {
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* Default weight */
    font-style: normal;
}

/* Utility classes for specific font weights */
.plus-jakarta-sans-light {
    font-weight: 200;
}

.plus-jakarta-sans-regular {
    font-weight: 400;
}

.plus-jakarta-sans-bold {
    font-weight: 700;
}

.plus-jakarta-sans-extra-bold {
    font-weight: 800;
}


.card {
    background-color: #ffffff;
    border: 2px solid rgba(13, 202, 240, 0.25);
}

.card:hover {
    background-color: rgba(13, 202, 240, 0.1);
    border-color: rgba(13, 202, 240, .5);
}

.custom-link {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
}

.custom-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* https://codepen.io/andrewsims/pen/mQoYwz */

* {
    transition: all 0.3s ease-out;
}

/* html,
body {
    height: 100%;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} */

h3 {
    color: #262626;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;

    &.small {
        font-size: 14px;
    }
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: rgba(13, 202, 240);
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.description {
    display: none;
    position: absolute;
}

.card1 {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: rgba(13, 202, 240, .05);
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: rgba(13, 202, 240);
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.25s ease-out;
    }

    &:hover:before {
        transform: scale(21);
    }
}

.card1:hover {
    p {
        transition: all 0.3s ease-out;
        color: rgba(255, 255, 255, 0.8);
    }

    h3 {
        transition: all 0.3s ease-out;
        color: #ffffff;
    }

    .description {
        display: block;
    }

    .img-container {
        display: none;
    }

    .card-img {
        opacity: 0.1;
    }
}